<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        form {
            border-radius: 5px;
        }
    </style>
    <title>Controle MCA</title>
</head>
<body>
    <div>
        <a href="{% url 'usuario' %}" id="voltar"><img src="{% static 'image/ir.png' %}" alt=""></a>
        <form method="post"> {% csrf_token %}
            
            <h1>{{request.user.username}}</h1>  
            {{form}}
            <input type="submit" class='submit' value="Alterar">

        </form>


    </div>
</body>
</html>
