<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/secundario.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'title.html' %}
</head>
<body>
    <header id="secundario">
        <div id="titulo">
            <h1>COMPETENCIAS</h1>
        </div>
        <a href="{% url 'home' client %}" id="fechar"><img src="{% static 'image/fechar.png' %}" alt=""></a>
    </header>
    <div id="caminho">
        {% for competencia in competencias %}
        <a href="{% url 'competencia' client competencia %}" class="caminho">{{competencia}}</a>
        {% endfor %}
    </div>
</body>
</html>
