<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/competencia.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    {% include 'title.html' %}
</head>
<body>
        
        <header>
            <a href="{% url tipo.plural client %}" id="voltar"><img src="{% static 'image/ir.png'%}" alt="voltar"></a>
            <h1>{{mes|title}}</h1>
            <a href="{% url 'home' client %}" id="fechar"><img src="{% static 'image/fechar.png'%}" alt="voltar"></a>
        </header>
        
        <div id="anos">
            <ul>
                {% for data in datas %}
                    {% if data == ano %}
                        <a href="{% url 'editar_'|add:tipo.singular client  data mes %}">
                            <li id="atual">{{data}}</li>
                        </a>
                    {%else %}
                        <a href="{% url 'editar_'|add:tipo.singular client  data mes %}">
                            <li>{{data}}</li>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <table id="mensal">
            <thead class="obrigacoes">
                <tr>
                    <th>{{'clientes'|upper  }}</th>
                {% for obrigacao in conteudo.obrigacoes %}
                    <th class="conteudo">{{obrigacao}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for cliente, valores_competencia in conteudo.tabela.items %}
                <tr>
                    <td>
                        {{cliente}}
                    </td>
                    {% for valor_competencia in valores_competencia %}
                    {% if valor_competencia == '-' %}
                    <td class="inexistente">
                    </td>
                    {% else %}
                    <td class="existente">
                        {{valor_competencia}}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>