<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/secundario.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle "<usuario>"</title>
</head>
<body>
    <header id="secundario">
        <div id="titulo">
            <h1>EMPRESAS</h1>
        </div>
        <a href="{% url 'home' %}" id="fechar"><img src="{% static 'image/fechar.png' %}" alt=""></a>
    </header>
    <div id="caminho">
        {% for empresa in empresas %}
        <a href="{% url 'empresa' empresa%}" class="caminho">{{empresa}}</a>
        {% endfor %}
    </div>
    <footer>
        {% if anterior %}
        <a href="{% url 'empresas' pagina|add:-1%}"><img src="{% static 'image/ir.png' %}" alt="anterior" id="anterior"></a>
        {% endif %}
        {% if sucessor %}
        <a href="{% url 'empresas' pagina|add:+1%}"><img src="{% static 'image/ir.png' %}" alt="sucessor" id="sucessor"></a>
        {% endif %}
    </footer>
</body>
</html>
