<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Controle "<usuario>" </title>
</head>
<body>
    <header id="primario">
        <div id="titulo">
            <h1>CONTROLE</h1>
            <h2>2024</h2>
        </div>
        <a id="user" href="{% url 'usuario' %}">{{request.user|title}}</a>
    </header>
    <div id="caminhos">
        <a class="caminho" href="{% url 'empresas' 1 %}">EMPRESAS</a>
        <a class="caminho" href="{% url 'obrigacoes' 1 %}">OBRIGAÇÕES</a>
        <a class="caminho" href="{% url 'competencias' %}">COMPETÊNCIAS</a>
    </div>

</body>
</html>