<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/secundario.css' %}">
    <style>
        a.caminho {
            height: 15vh;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle MCA</title>
</head>
<body>
    <header id="secundario">
        <div id="titulo">
            <h1>OBRIGAÇÕES</h1>
        </div>
        <a href="{% url 'home' client %}" id="fechar"><img src="{% static 'image/fechar.png' %}" alt=""></a>
    </header>
    <div id="caminho">
        {% for obrigacao in obrigacoes %}
        <a href="{% url 'editar_obrigacao' client obrigacao %}" class="caminho">{{obrigacao}}</a>
        {% endfor %}
    </div>
    <footer>
        {% if anterior %}
        <a href="{% url 'obrigacoes' pagina|add:-1%}"><img src="{% static 'image/ir.png' %}" alt="anterior" id="anterior"></a>
        {% endif %}
        {% if sucessor %}
        <a href="{% url 'obrigacoes' pagina|add:+1%}"><img src="{% static 'image/ir.png' %}" alt="sucessor" id="sucessor"></a>
        {% endif %}
    </footer>
</body>
</html>
