body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    flex-grow: 0;
    display: flex;
}

#criar {
    color: black;
    text-decoration: none;
    font-size: 4em;
}

#titulo{
    flex-grow: 1;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: clamp(2em, 5em, 1em + 30vh);
    flex-grow: 1;
}

div#caminho {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5vh 10px;
    justify-items: center;
    
    a.caminho {
        background-color: #8D9BA1;
        margin: 5px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: clamp(1em, 2.2em, 1em + 10vh);
        border-radius: 5px;
        width: 98%;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        word-break: break-word;
        border: 1px solid #8D9BA1;
    }
    a.caminho:hover {
        border-color: black;
    }
}


footer {
    flex-grow: 0;
}

#anterior {
    transform: rotate(180deg);
    position: fixed;
    left: 5px;
    bottom: 5px;
}

#sucessor {
    position: fixed;
    right: 5px;
    bottom: 5px;
}