<!DOCTYPE html> 
<html lang="pt-br">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/administrador/home.css' %}">
  {% include 'title.html' %}
</head>
<body>
  <header>
    <a id="user" href="{% url 'usuario' %}">{{request.user|title}}</a>
    <h1>Área Adminitrativa</h1>
  </header>
  <div id="principal">
    <a href="{% url 'home' request.user %}" class="conteudo" id="home">Minha Área</a>
    <a href="{% url 'contabil_admin' %}" class="conteudo">Usuarios</a>
    <a href="{% url 'clientes_admin' %}" class="conteudo">Clientes</a>
    <a href="{% url 'obrigacoes_admin' %}" class="conteudo">Obrigações</a>
    <a href="{% url 'competencias_admin' %}" class="conteudo">Competências</a>
  </div>
  <footer>
    <a href="{% url 'duplicar' request.user %}">DUPLICAR DADOS</a>
</footer>
</body>
</html> 

